<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\ReviewRendererInterface" type="Lipscore\RatingsReviews\Block\Product\ReviewRenderer" />

    <type name="Magento\Catalog\Model\Product\ReservedAttributeList">
        <arguments>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="rating_summary" xsi:type="string">rating_summary</item>
            </argument>
        </arguments>
    </type>

    <type name="Lipscore\RatingsReviews\Helper\Product">
        <arguments>
            <argument name="productRepository" xsi:type="object">\Magento\Catalog\Model\ProductRepository\Proxy</argument>
        </arguments>
    </type>

    <type name="Lipscore\RatingsReviews\Helper\AbstractHelper">
        <arguments>
             <argument name="config" xsi:type="object">\Lipscore\RatingsReviews\Model\Config\Front</argument>
            <argument name="storeManager" xsi:type="object">\Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>

    <type name="Lipscore\RatingsReviews\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">lipscoreLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">\Lipscore\RatingsReviews\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Url">
        <plugin name="Lipscore_RatingsReviews_Plugin_UrlPlugin" type="Lipscore\RatingsReviews\Plugin\UrlPlugin" disabled="false" sortOrder="10" />
    </type>
</config>
