<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\ReservedAttributeList">
        <arguments>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="rating_summary" xsi:type="string">rating_summary</item>
            </argument>
        </arguments>
    </type>

    <type name="Lipscore\RatingsReviews\Model\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">lipscoreLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">\Lipscore\RatingsReviews\Model\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Url">
        <plugin name="Lipscore_RatingsReviews_Plugin_UrlPlugin" type="Lipscore\RatingsReviews\Plugin\UrlPlugin" disabled="false" sortOrder="10" />
    </type>

    <type name="Magento\Review\Block\Product\ReviewRenderer">
        <plugin name="Lipscore_RatingsReviews_Plugin_ReviewRendererPlugin" type="Lipscore\RatingsReviews\Plugin\ReviewRendererPlugin" disabled="false" sortOrder="10" />
    </type>
</config>
