<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Review\Block\Product\Review">
        <plugin name="Lipscore_RatingsReviews_Plugin_ReviewTabPlugin" type="Lipscore\RatingsReviews\Plugin\ReviewTabPlugin" disabled="false" sortOrder="10" />
    </type>
</config>
